{% extends 'courses/main.html' %}

{% block content %}

{% if teacher %}
<!DOCTYPE html>
<html>
  <title>إضافة أو تعديل  {{topic}}</title>
  <name>
    <div class="box" style="width:25rem; background-color: rgb(232, 232, 232)">
      <h1 style="color:black">إضافة أو تعديل {{topic}} </h1>
      <form action="" method="POST">
        {% csrf_token %}       


        {% if not object %}
          {% if child == 'q' %}
            <input required type="text" placeholder='السؤال' name="name">
          {% else %}
            <input required type="text" placeholder='اسم ال{{cara}}' name="name">
          {% endif %}

          {% if child == 'o' or child == 'q' %}
            {% if child == 'o' %}
              <textarea required rows="5" cols="51"  placeholder="المحتوى الدراسي" name="content"></textarea>
            {% endif %}
            <input type="file" name="img" nameplaceholder='اختر صورة'>
            {% if child == 'q' %}
              <input required type="text" placeholder="الخيار الأول" name="op1" >
              <input type="text" placeholder="الخيار الثاني" name="op2">
              <input type="text" placeholder="الخيار الثالث" name="op3">
              <input type="text" placeholder="الخيار الرابع" name="op4">
              <textarea type="textarea" rows="5" cols="51" placeholder="ملحوظة" name="hint" ></textarea>
            {% endif %}
            <input type="text" placeholder="رابط الفيديو" name="video" >
            {% if child == 'q' %}
              <input required type="text" placeholder="مستوى السؤال" name="level">
            {% endif %}
          {% endif %}

        {% else %}
          <input type="text" value="{{object.name}}" name="name">          
          {% if child == 'o' %}
            <textarea rows="5" cols="51"  name="content">{{object.content}}</textarea>
          {% endif %}
          {% if child == 'o' or child == 'q' %}
            <input type="file" name="img" value='{{object.img.url}}'>
            {% if object.img %}
              <a style="width:115px" href="">حذف الصورة</a>
            {% endif %}
          {% endif %}
          {% if child == 'q' %}
            <input type="text" value='{{object.op1}}' name="op1" >
            <input type="text" value='{{object.op2}}' name="op2">
            <input type="text" value='{{object.op3}}' name="op3">
            <input type="text" value='{{object.op4}}' name="op4">
            <textarea type="textarea" rows="5" cols="51" name="hint" >{{object.hint}}</textarea>
          {% endif %}
          {% if child == 'o' or child == 'q' %}
            <input type="text" value='{{object.video}}' name="video" >
          {% endif %}
          {% if child == 'q' %}
            <input type="text" value='{{object.level}}' name="level">
          {% endif %}
        {% endif %}
  
        <button style="width:155px" type="submit">تأكيد</button>
        <a style="width:100px" href="{{request.META.HTTP_REFERER}}">إلغاء</a>
        
        
  
      </form>
    </div>
  </name>
</html>
{% endif %}
{% endblock content %}