
{% extends 'courses/main.html' %}
{% load static %}

{% block content %}
  <head>
    <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.0/es5/tex-mml-chtml.js"></script>
    <title>{{object.name}}</title>

    <style>
        .box {
          background-color:rgb(239, 239, 239); 
        }

      p {
        font-size: 20px;
        }
      .column {
        width: 50%;
      }

      .row:after {
        content: "";
        clear: both;
        display: table;
      }
    </style>
  </head>
  <div class="box" style="text-align:right; background-color: rgb(239, 239, 239);">
    <h1>
      {% if teacher %}
        <span>  
          <a style="width:30px; font-size:5px" title="تعديل" href="{% url 'update' k=object.k %}"><img style="width:30px" src="{% static 'courses/edit.svg' %}"></a>
          <a style="width:30px; font-size:5px" title="حذف" href="{% url 'delete' k=object.k %}"><img style="width:30px" src="{% static 'courses/delete.svg' %}"></a>
        </span>  
      {% endif %}

      <a style="width:30px; font-size:5px" title="{{gara}} {{grand}}" href="{% url 'open' k=p %}"><img style="width:30px" src="{% static 'courses/up.svg' %}">
      </a>
      {% if object.video %} 
        <a style="width:30px; font-size:5px" target="blank" title="فيديو" href="{{object.video}}"><img style="width:30px" src="{% static 'courses/video.svg' %}"></a> 
      {% endif %}      
      {{object.name}}
    </h1>

    <div class="row">
      <div class="column" id="contentcontainer" style="font-size:20px; float:right; width: 60%;"></div>
      <div class="column" style="display:inline-block; width: 40%;">
        {% if object.img %}<img style="width: 100%;" src="{{ object.img.url }}">{% endif %}
      </div>
    </div>
  
    <div style="text-align:center; font-size:25px">
      <div style="float:left; font-size:25px">
        {% if percent < 50 %}
          <span style="color:black">% {{percent}} ضعيف</span>
        {% elif percent < 70 %}
          <span style="color:red">% {{percent}} متوسط</span>
        {% elif percent < 80 %}
          <span style="color:green">% {{percent}} جيد</span>
        {% elif percent < 90 %}
          <span style="color:blue">% {{percent}} جيد جدا</span>
        {% elif percent < 101 %}
          <span style="color:rgb(176, 0, 176)">% {{percent}} ممتاز</span>   
        {% endif %} 
      </div>
      
      <a style="width:40px" href="{% url 'practice' k=object.k %}">تدريب</a>
        {% if reg %}           
          <button style="width:90px" onclick='
            if (confirm("إذا تم عرض الامتحان ولم تكمله حتى تقوم بإرسال النتيجة ستحتسب درجتك صفرا. اضغط ok إذا كنت تريد الاستمرار.")=== true){
              window.location.href="{% url 'assessment' k=object.k %}" }'>اختبار</button>
        {% else %}
          <button style="width:90px" onclick="mustLogin()">اختبار</button>
        {% endif %}
    </div>
  </div> 

  </div>

  

  {% if teacher %}
    <div container style="text-align:center;">
      <a style="background-color:#d8d8d8; width:400px" href="{% url 'create' p=object.k %}">إضافة سؤال</a>
    </div>
    <br>

    {% for q in questions %}
        <div class="box" style="text-align:right">
        {% if q.s %} 
        <div style="text-align:center">
          <a style="background-color:rgb(214, 214, 214);" href="{% url 'dublicate' k=q.k %}">نسخ</a>
        </div>
        {% endif %}
        <p style="color:red">
        <a style="width:30px; font-size:5px" title="تعديل" href="{% url 'update' k=q.k %}"><img style="width:30px" src="{% static 'courses/edit.svg' %}"></a>
        <a style="width:30px; font-size:5px" title="حذف" href="{% url 'delete' k=q.k %}"><img style="width:30px" src="{% static 'courses/delete.svg' %}"></a>
        {{q.level}}     
        {% if q.video%}<a style="width:30px; font-size:5px" target="blank" title="فيديو" href="{{q.video}}"><img style="width:30px" src="{% static 'courses/video.svg' %}"></a>{% endif %}               
        {{q.name}}</p>
        {% if q.img %}<div style="text-align:center;"><img style="width: 50%;" src="{{ q.img.url }}" alt="an image"></div>{% endif %} 
        <p>{{q.op1}}</p>
        {% if q.op2 %}<p>{{q.op2}}</p>{% endif %}  
        {% if q.op3 %}<p>{{q.op3}}</p>{% endif %}        
        {% if q.op4 %}<p>{{q.op4}}</p>{% endif %}            
        {% if q.hint %}<p style="color:rgb(1, 1, 185)">تنبيه: {{q.hint}}</p>{% endif %}          
      </div>      
    {% endfor %}
      

  {% endif %}



  <script>
    var contents = JSON.parse("{{contents|escapejs}}"); 
    let contentContainer = document.getElementById("contentcontainer");
    let div = document.createElement("div");  
    for (j=0; j<contents.length; j++){
      div.innerHTML += `<p>${contents[j]}</p><hr>`
    }
    contentContainer.appendChild(div)



    function mustLogin() {
      alert("الاختبار والتقييم والتوجيه ميزات غير متاحة في النسخة التجريبية");
    }
  </script>

{% endblock %}



