{% extends 'courses/main.html' %}

{% block content %}
    <div class="box" style="width:80%">
        <p>اكتب كلمة السر الجديدة</p>
        <form method="POST">
            {% csrf_token %}
            <input id="password1" name="new_password1" type="password" placeholder="كلمة السر الجديدة"/>
            <input id="password2" name="new_password2" type="password" placeholder="تأكيد كلمة السر الجديدة"/>
            <button class="btn btn-outline-info" type="submit">تأكيد</button>
        </form>
    </div>

{% endblock %}